body {
	font-family: "Montserrat", "Ariel", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
}

.container {
	width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	align-items: center;
}

.header__nav-1 {
	margin-right: 30px;
}

.header__logo {}

.header__nav-2 {
	margin-left: 30px;
}

/* ================================================================ */
.wrapper {
	background: url(../images/bg.jpg) 10% 50% / cover no-repeat;
}

.title {
	color: white;
}

.title__inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 120px 0;
}

.title__title {
	font-weight: 600;
	font-size: 52px;
	margin-bottom: 30px;
}

.title__title-link {
	display: flex;
	gap: 18px;
	margin-bottom: 15px;
}

.title__button {
	display: inline-block;
	border-radius: 100px;
	padding: 18px 30px;
	margin-top: 25px;
	min-width: 288px;
	min-height: 56px;
	text-align: center;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	background: #d0dce7;
	color: #1d6fb6;
	;
}
.title__button:hover {
	background-color: #1d6fb6;
	color: white;
	transition: transform 0.3s;
}

/* ================================================================= */
.cards {
	display: flex;
	margin-top: 120px;
}

.aside__nav {
	min-width: 282px;
	padding: 30px 108px 0 30px;
	border: 2px solid #d0dce7;
}

.aside__nav ul {
	min-width: 144px;
}

.aside__nav li {
	margin-bottom: 20px;
	font-weight: 500;
	text-align: center;
}

.cards__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 126px;
}

.cards__inner-item {
	width: 384px;
	height: 384px;
}

.cards__inner-item img:hover {
	transform: scale(1.05);
	transition: transform 0.3s;
}

.cards__inner-item img {
	position: relative;
	top: -3%;
	right: -4%;
	padding: 16px;
	width: 100%;
	height: 100%;
}


.cards__inner-item--1 {
	display: flex;
	flex-wrap: wrap;
	width: 384px;
	height: 384px;
}

.cards__inner-item--1 img {
	position: relative;
	right: -18%;
	top: -3%;
	padding: 8px;
	width: 100%;
	height: 100%;
}

.cards__inner-item--1 img:hover {
	transform: scale(1.05);
	transition: transform 0.3s;
}

.cards__inner-item--item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 180px;
	height: 180px;
}

.cards__inner-item--2 {
	display: flex;
	flex-wrap: wrap;
	width: 384px;
	height: 384px;

}

.cards__inner-item--2 img {
	position: relative;
	right: -18%;
	top: -4%;
	padding: 8px;
	width: 100%;
	height: 100%;
}

.cards__inner-item--2 img:hover {
	transform: scale(1.05);
	transition: transform 0.3s;
}

/* ================================================================== */



.content__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
	width: 792px;
	margin-top: 120px;
}

.content__cards {
	margin-bottom: 24px;
	width: 384px;
	height: 354px;
	background: url(../images/watch.jpg) 0 0 / contain no-repeat;
	border: 2px solid #d0dce7;
}

.content__cards p {
	border-radius: 0 100px 100px 0;
	padding: 18px 30px;
	background-color: #f8fcff;
	color: #1d6fb6;
	width: 130px;
	margin-top: 30px;
}

.content__button {
	display: block;
	border-radius: 100px;
	padding: 18px 30px;
	margin-top: 70%;
	margin-left: 12%;
	background-color: #d0dce7;
	color: #1d6fb6;
	max-width: 289px;
	align-items: center;
	text-align: center;
}
.content__button:hover {
	background-color: #1d6fb6;
	color: white;
	transition: transform 0.3s;
}

.content__button-hit {
	display: block;
	border-radius: 100px;
	padding: 18px 30px;
	margin-top: 47%;
	margin-left: 12%;
	background-color: #d0dce7;
	color: #1d6fb6;
	max-width: 289px;
	text-align: center;
}
.content__button-hit:hover {
	background-color: #1d6fb6;
	color: white;
	transition: transform 0.3s;
}
/* ================================================================= */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background: #788088;
	color: white;
}
.footer img {
	margin-right: 10px;
}
