.header__nav {
	display: flex;
	padding-top: 19px;
	justify-content: space-between;
}

.header__img {
	max-width: 174px;
	z-index: 11;
}

.header__img img {
	width: 100%;
}

.nav__inner {
	display: flex;
	align-items: flex-end;
	gap: 40px;
}


.nav__link {
	display: flex;
	color: var(--title);
	padding: 5px 0px;
	position: relative;
	z-index: 1;
}

.nav__link::before {
	content: '';
	position: absolute;
	top: -8px;
	left: -13px;
	width: 34px;
	height: 34px;
	background: var(--accent-1);
	border-radius: 100%;
	z-index: -1;
	opacity: 0;
	transition: all 0.4s;
}

.nav__link:hover::before {
	opacity: 1;
}

.burger-icon {
	display: none;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 100px;
	background: var(--text);
	transition: all .4s;
}

.burger-icon span {
	position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
	content: "";
	position: absolute;
}

.burger-icon span::before {
	top: -8px;
}

.burger-icon span::after {
	bottom: -8px;
}

.body--opened-menu .burger-icon span {
	background: transparent;
}

.body--opened-menu .burger-icon span::before {
	top: 0px;
	transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
	bottom: 0px;
	transform: rotate(-45deg);
}

/* ================================================================== */


.hero {
	padding: 50px 0px 140px;
}

.hero__inner {
	display: flex;
	align-items: self-end;
	justify-content: space-between;
	gap: 30px;
}

.hero__content {
	max-width: 519px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.hero__subtitle {
	line-height: 1.6;
	color: rgb(177, 151, 179);
	text-transform: uppercase;
	display: flex;
}

.hero__subtitle span {
	display: flex;
	align-items: center;
}

.hero__subtitle span::after {
	content: '';
	background-color: rgb(177, 151, 179);
	border-radius: 50%;
	height: 4px;
	width: 4px;
	display: block;
	margin: 0px 10px;
}

.hero__subtitle span:last-child:after {
	content: none;

}

.hero__title {
	margin-top: 20px;
}

.hero__text {
	color: var(--text);
	margin-top: 30px;
	max-width: 358px;
}

.hero__button {
	max-width: 358px;
}


.hero__img {
	position: relative;
	margin-right: 247px;
}

.hero__img>img {
	width: 100%;
}

.hero__img-control {
	position: absolute;
	display: flex;
	gap: 10px;
	transform: translate(169%, -159%);
	max-width: 200px;
	text-align: left;
}

.hero__img-control--mobile {
	display: none;
}

.hero__img-button {
	box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
	background: var(--bgn-1);
	border-radius: 100%;
	width: 78px;
	height: 78px;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;

}

.hero__img-button::before {
	content: "";
	position: absolute;
	border: 1px solid var(--accent-1);
	box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
	background: var(--bgn-1);
	border-radius: 100%;
	width: 68px;
	height: 68px;
	display: flex;
	flex-shrink: 0;
	opacity: 0;
	transition: all 0.4s;
}

.hero__img-button:hover::before {
	opacity: 1;

}

.hero__img-button img {
	padding-left: 8%;
	z-index: 2;
}