:root {
	--accent-1: rgb(255, 165, 92);
	--accent-2: rgb(206, 170, 208);
	--title: rgb(31, 23, 17);
	--text: rgb(49, 44, 39);
	--bgn-1: rgb(255, 224, 203);
	--bgn-2: rgb(255, 249, 244);
	--purple: rgb(112, 65, 116);
	--disabled: rgb(225, 217, 225);
	--input: rgb(172, 144, 122);
}

.body {
	font-family: "Montserrat", "Ariel", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
}

.body--opened-menu {
	overflow: hidden;
}

.body--opened-modal {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	font-weight: 500;
	background-color: var(--accent-1);
	border-radius: 60px;
	height: 62px;
	margin-top: 40px;
	color: var(--text);
	padding: 3px 15px;
	width: 100%;
	transition: all 0.4s;
}

.button:hover {
	background-color: rgb(255, 145, 56);
}

h1 {
	font-family: "Gabriola";
	font-size: 74px;
	font-weight: 400;
	line-height: 0.82;
}

.header {
	background: url("../images/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.modal {
	position: fixed;
	inset: 0;
	background: #00000071;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all .6s;
}

.body--opened-modal .modal {
	opacity: 1;
	visibility: visible;

}

.modal__window {
	position: relative;
	display: flex;
	flex-direction: column;
	background: var(--bgn-2);
	max-width: 428px;
	padding: 133px 60px 60px 60px;
	border-radius: 20px;
}

.modal__cancel {
	position: absolute;
	display: flex;
	font-size: 16px;
	border: 2px solid rgb(225, 217, 225);
	top: 5%;
	right: 5%;
	color: rgb(225, 217, 225);
	border-radius: 100%;
	flex-shrink: 0;
	flex-grow: 1;
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	align-items: center;
	justify-content: center;
	transition: all .4s
}

.modal__cancel:hover {
	color: rgb(172, 144, 122);
	border: 2px solid rgb(172, 144, 122);
}



.modal__img {
	position: absolute;
	top: -15%;
	left: 19%;
}

.modal__title {
	color: var(--title);
	font-family: "Gabriola";
	font-size: 42px;
	font-weight: 400;
	line-height: 0.90;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 10px;
}

.modal__text {
	text-align: left;
	margin-bottom: 30px;
}


.modal__form-label {
	position: relative;
}

.modal__form-label span {
	position: absolute;
	font-size: 11px;
	color: var(--input);
	top: -16px;
	left: 28px;
	opacity: 0;
	visibility: hidden;
	transition: all .4s;
}

.modal__form-input {
	box-sizing: border-box;
	border: 1px solid rgb(172, 144, 122);
	border-radius: 100px;
	padding: 19px 28px 19px 28px;
	width: 100%;
	font-size: 16px;
	transition: all .4s;
}

.modal__form-input:hover {
	border: 1px solid var(--accent-1);
}

.modal__form-input::placeholder {
	color: rgb(172, 144, 122);
	transition: all .4s;
}

.modal__form-input:hover::placeholder {
	color: var(--accent-1);
}

.modal__form-input:focus {
	padding: 26px 28px 12px 28px;
}

.modal__form-input:focus+span {
	opacity: 1;
	visibility: visible;
}

.modal__button {
	font-size: 16px;
	margin-top: 10px;
}


/* ======================================================================== */


.header__nav {
	display: flex;
	padding-top: 19px;
	justify-content: space-between;
}

.header__img {
	max-width: 174px;
	z-index: 11;
}

.header__img img {
	width: 100%;
}

.nav__inner {
	display: flex;
	align-items: flex-end;
	gap: 40px;
}


.nav__link {
	display: flex;
	color: var(--title);
	padding: 5px 0px;
	position: relative;
	z-index: 1;
}

.nav__link::before {
	content: '';
	position: absolute;
	top: -8px;
	left: -13px;
	width: 34px;
	height: 34px;
	background: var(--accent-1);
	border-radius: 100%;
	z-index: -1;
	opacity: 0;
	transition: all 0.4s;
}

.nav__link:hover::before {
	opacity: 1;
}

.burger-icon {
	display: none;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 100px;
	background: var(--text);
	transition: all .4s;
}

.burger-icon span {
	position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
	content: "";
	position: absolute;
}

.burger-icon span::before {
	top: -8px;
}

.burger-icon span::after {
	bottom: -8px;
}

.body--opened-menu .burger-icon span {
	background: transparent;
}

.body--opened-menu .burger-icon span::before {
	top: 0px;
	transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
	bottom: 0px;
	transform: rotate(-45deg);
}

/* ================================================================== */


.hero {
	padding: 50px 0px 140px;
}

.hero__inner {
	display: flex;
	align-items: self-end;
	justify-content: space-between;
	gap: 30px;
}

.hero__content {
	max-width: 519px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.hero__subtitle {
	line-height: 1.6;
	color: rgb(177, 151, 179);
	text-transform: uppercase;
	display: flex;
}

.hero__subtitle span {
	display: flex;
	align-items: center;
}

.hero__subtitle span::after {
	content: '';
	background-color: rgb(177, 151, 179);
	border-radius: 50%;
	height: 4px;
	width: 4px;
	display: block;
	margin: 0px 10px;
}

.hero__subtitle span:last-child:after {
	content: none;

}

.hero__title {
	margin-top: 20px;
}

.hero__text {
	color: var(--text);
	margin-top: 30px;
	max-width: 358px;
}

.hero__button {
	max-width: 358px;
}


.hero__img {
	position: relative;
	margin-right: 247px;
}

.hero__img>img {
	width: 100%;
}

.hero__img-control {
	position: absolute;
	display: flex;
	gap: 10px;
	transform: translate(169%, -159%);
	max-width: 200px;
	text-align: left;
}

.hero__img-control--mobile {
	display: none;
}

.hero__img-button {
	box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
	background: var(--bgn-1);
	border-radius: 100%;
	width: 78px;
	height: 78px;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;

}

.hero__img-button::before {
	content: "";
	position: absolute;
	border: 1px solid var(--accent-1);
	box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
	background: var(--bgn-1);
	border-radius: 100%;
	width: 68px;
	height: 68px;
	display: flex;
	flex-shrink: 0;
	opacity: 0;
	transition: all 0.4s;
}

.hero__img-button:hover::before {
	opacity: 1;

}

.hero__img-button img {
	padding-left: 8%;
	z-index: 2;
}

/* ============================================================ */


.about {
	margin-bottom: 140px;
}

.about__inner {
	display: grid;
	grid-template-columns: 1fr 1.05fr;
	gap: 53px;
	margin-top: 140px;
}

.about__img {
	position: relative;
	max-width: 603px;
}

.about__img-item {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
	object-position: 20% 50%;
}

.about__modal {
	display: flex;
	position: absolute;
	align-items: center;
	gap: 32px;
	bottom: 5%;
	left: 5%;
	padding: 15px 20px;
	border-radius: 20px;
	background: rgba(149, 123, 151, 0.9);
	color: var(--bgn-2);
}

.about__modal-button {}

.about__modal-button img {
	display: block;
	position: relative;
	z-index: 1;

}

.about__modal-button::after {
	content: "";
	position: absolute;
	background: var(--bgn-2);
	border-radius: 100%;
	box-sizing: border-box;
	border: 1px solid rgb(206, 170, 208);
	width: 68px;
	height: 68px;
	z-index: 0;
	top: 15%;
	left: 2.7%;
	transition: all .4s;
	opacity: 0;
}

.about__modal-button:hover::after {
	opacity: 1;
}

.about__modal-button::before {
	content: "";
	position: absolute;
	background: var(--bgn-2);
	border-radius: 100%;
	width: 78px;
	height: 78px;
	z-index: 0;
	top: 10%;
	left: 1.2%;
}

.about__modal-text {
	max-width: 171px;
}


.about__us-text-2 {
	margin-top: 30px;
	margin-bottom: 40px;
}

.about__advantages {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px;

}

.about__advantages-block {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 224, 203);
	border-radius: 20px;
	padding: 29px 23px;
	position: relative;

}

.about__advantages-img {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	border: 1px solid rgb(49, 44, 39);
	flex-shrink: 0;
	flex-grow: 1;
}

/* ======================================== */

.about__program {}

.program {}

.container {}

.program__top {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	gap: 60px 0px;
}

.program__description {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.program__title {
	margin-bottom: 20px;
}

.program__text {
	max-width: 374px;

}

.program__button {
	display: flex;

}

.tab-controls {
	display: flex;
	gap: 26px;
	align-items: end;
	justify-content: end;
}

.tab__controls-item {}

.tab__controls-link {
	padding: 14px 30px 14px 30px;
	border-radius: 100px;
	box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
	background: var(--bgn-2);
	transition: all .4s;
}

.tab__controls-link:hover {
	background: var(--bgn-1);
}

.tab__controls-link--active {
	background: var(--bgn-1);
	box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
}

.program__tab-content {
	display: grid;
	grid-column: 1/3;
	/* grid-row: 2/3; */
	gap: 30px;
	margin-bottom: 40px;
	display: none;
}

.program__tab-content--show {
	display: grid;
}

.accardion-list {
	display: flex;
	border: solid 1px #FFA55C;
	border-radius: 20px;

}

.accardion-list__item {
	width: 100%;
}

.accardion-list__control {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	justify-content: space-between;
	width: 100%;
	background: none;
	padding: 30px 40px;
}

.accardion-list__control-title {
	display: flex;
	color: rgb(31, 23, 17);
	font-family: "Gabriola";
	font-size: 42px;
	font-weight: 400;
	line-height: 0.90;
	letter-spacing: 0%;
	text-align: left;
}

.accardion-list__content {}

.program__arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1.5px var(--accent-1);
	width: 36px;
	height: 36px;
	border-radius: 100%;
	transition: all .4s;
}

.program__arrow path {
	transition: all .4s;
}

.accardion-list__control:hover .program__arrow {
	background: var(--accent-1);
	transform: rotate(90deg);
}

.accardion-list__control:hover .program__arrow path {
	fill: white;
}

.accardion-list__item--opened .program__arrow {
	background: var(--accent-1);
	transform: rotate(90deg);
}

.accardion-list__item--opened .program__arrow path {
	fill: white;
}



.accardion-list__content {
	max-height: 0px;
	overflow: hidden;
	transition: all .4s;
}


.accardion__content {
	display: flex;
	padding: 30px 40px;
	margin-top: -30px;
	gap: 80px;
}

.accardion-content__col {
	max-width: 507px;
	
}

.accardion-content__col:first-child {
	max-width: 507px;
	width: 100%;
}

.accardion-content__title {
	margin-bottom: 20px;
	color: rgb(206, 170, 208);
	text-align: left;
	text-transform: uppercase;
	line-height: 1.6;
}

.accardion-content__list {}

.acardion-content__item {
	display: flex;
	gap: 8px;
	margin-bottom: 20px;
}

.acardion-content__item:last-child {
	margin-bottom: 0px;
}

.accardion-content__icon {
	border-radius: 100px;
	box-sizing: border-box;
	border: 1px solid rgb(206, 170, 208);
	width: 24px;
	height: 24px;
	padding: 6px;
}

.accardion-content__text {
	max-width: 260px;
}








/* ==================================================================== */
.footer {
	background-color: rgb(171, 130, 97);
	min-height: 253px;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
}

.footer__socials {
	margin-top: 30px;
	margin-right: 15px;
}

.footer__logo {
	max-width: 240px
}

.footer__logo img {
	max-width: 100%;
}

.footer__text {
	color: var(--bgn-2);
}

.footer__link {
	margin-top: 20px;
	display: flex;
}

.footer__link-item {
	display: block;
	margin-right: 15px;

}

.footer__link-item path {
	transition: all 0.4s;
}

.footer__link-item:hover path {
	fill: var(--accent-1)
}

.footer__nav {
	margin-top: 55px;
	color: var(--bgn-2);
	margin-right: 15px;
}


.footer__nav-link {
	display: block;
	margin-bottom: 10px;
	padding: 5px 0px;
	position: relative;
	z-index: 1;
}

.footer__nav-link::before {
	content: '';
	position: absolute;
	top: -8px;
	left: -13px;
	width: 34px;
	height: 34px;
	background: var(--accent-1);
	border-radius: 100%;
	z-index: -1;
	opacity: 0;
	transition: all 0.4s;
}

.footer__nav-link:hover::before {
	opacity: 1;
}

.footer__location {
	color: var(--bgn-2);
	margin-top: 60px;
	margin-right: 15px;
}

.footer__location-item {
	display: flex;
	margin-top: 10px;
}

.footer__img {
	display: inline-block;
}

.footer__img-text {
	margin-left: 10.25px;
}

.footer__tel {
	color: var(--bgn-2);
	margin-top: 60px;
}

.footer__tel-text {
	line-height: 1.5;
}

.footer__number {
	font-weight: 500;
	font-size: 24px;
	transition: all 0.4s;
}

.footer__number:hover {
	color: var(--accent-1);
}

.footer__protection {
	display: flex;
	justify-content: center;
	margin-top: 46px;
}

.footer__protection-img {
	color: rgb(222, 197, 177);
}

.footer__protection-text {
	margin-left: 5px;
	color: rgb(222, 197, 177);
}

/* =================================================== */

@media (max-width: 1200px) {
	.hero__img-control {
		position: static;
		max-width: none;
		transform: translate(0);
		margin-top: 30px;
	}

	.hero__img {
		margin: 0;
		max-width: 377px;
	}

	/* =============================== */

	.about__advantages {
		grid-template-columns: 28vw 28vw;
		gap: 15px;
	}

	.about__inner {
		gap: 40px;
	}
}

@media (max-width: 1050px) {
	.footer__number {
		font-size: 2vw;
	}
}

@media (max-width: 900px) {
	.nav__inner {
		background-color: var(--bgn-2);
		position: fixed;
		inset: 0;
		z-index: 10;
		align-items: center;
		justify-content: center;
		padding: 26vh 15px 30px;
		flex-direction: column;
		font-size: 24px;
		gap: 4vh;
		transform: translate(-50%);
		opacity: 0;
		visibility: hidden;
		transition: all .4s;
	}

	.body--opened-menu .nav__inner {
		transform: translate(0%);
		opacity: 1;
		visibility: visible;
	}

	.burger-icon {
		display: flex;

	}

	/* ==================================== */

	.about__inner {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		margin-bottom: 40px;
	}

	.about__advantages {
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}

	.about__advantages-block {
		max-width: 400px;
	}

	.about {
		margin-bottom: 40px;
	}
}

@media (max-width: 800px) {
	.hero__img {
		display: none;
	}

	.hero__img-control--mobile {
		display: flex;
		align-items: center;
	}

	.hero__content {
		text-align: center;
		flex-direction: column;
		justify-content: center;
		max-width: none;
		width: 100%;
	}

}

@media (max-width: 620px) {
	.footer__inner {
		flex-direction: column;
		align-items: center;
	}

	.footer__socials {
		margin-top: 15px;
	}

	.footer__link {
		justify-content: center;
		margin-top: auto;
	}

	.footer__nav {
		margin-top: auto;
		margin-top: 10px;
	}

	.footer__nav-link {
		display: flex;
		margin-bottom: 0;
		justify-content: center;
	}

	.footer__location {
		margin-top: 10px;
	}

	.footer__tel {
		margin-top: 10px;
	}

	.footer__number {
		font-size: 17px;
	}

	.footer__protection {
		margin-top: 15px;
	}
}

@media (max-width: 600px) {
	.hero {
		padding-bottom: 80px;
	}

	.hero__title {
		font-size: 12vw;
	}

	/* ===================== */
	.about__us {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.about__advantages {
		grid-template-columns: 300px;
		gap: 15px;
	}

	.modal {
		padding: 10px 10px;
	}
}

@media (max-width: 400px) {
	.modal__img {
		top: -20%;
		left: 10%;
		margin-bottom: 10px;
	}

	.modal__window {
		padding: 100px 40px 40px 40px;

	}

	.modal__title {
		font-size: 12vw;
		text-align: center;

	}

	.modal__text {
		text-align: center;
	}
}